*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    background-color: #F6F7F6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido{
    width: 80%;
    padding: 50px 0;
}
.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
        "uno tres tres siete"
        "uno tres tres siete"
        "uno cuatro cinco siete"
        "dos cuatro cinco siete"
        "dos seis ocho ocho"
        "dos seis ocho ocho";
}

.uno { 
    background-color: #F9EEE2;
    grid-area: uno; 
}
.uno span{
    color: #7650DC;
}
.dos { 
    background-color: #FECD6A;
    grid-area: dos; 
}

.tres { 
    background-color: #7650DC;
    grid-area: tres; 
    color: #fff;
    text-align: center;
}
.tres span{
    color: #FECD6A;
}
.cuatro { 
    background-color: #FFFEFE;
    grid-area: cuatro; 
    overflow: hidden;
}

.cinco { 
    position: relative;
    background-color: #FCCF6B;
    grid-area: cinco; 
    padding: 25px 25px 0 25px;
    border-radius: 15px;
    overflow: hidden;
}
.cinco img{
    position: relative;
    top: 20%;
}
.seis { 
    background-color: #fff;
    grid-area: seis; 
}
.seis h1{
    font-size: 3rem;
}

.siete { 
    background-color: #DDD0FD;
    grid-area: siete; 
    overflow: hidden;
}

.ocho { 
    display: flex;
    background-color: #7650DC;
    grid-area: ocho; 
    color: #fff;
    align-items: center;
}
.ocho h1{
    margin-left: 25px;
}
.uno, .dos, .tres, .cuatro, .seis, .siete, .ocho{
    border-radius: 15px;
    padding: 25px;
}
.uno img, .dos img, .cinco img, .seis img{
    width: 100%;
}
.tres img{
    width: 30%;
}
.cuatro img{
    width: 150%;
}
.siete img{
    width: 170%;
}
.ocho img{
    width: 40%;
}
@media (max-width: 1024px){
    .contenido{
        width: 60%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .tres{
        order: 1;
    }
    .cuatro{
        order: 2;
    }
    .container br{
        display: none;
    }
    .cinco{
        order: 3;
    }
    .siete{
        order: 4;
    }
    .ocho{
        display: block;
        order: 5;
        text-align: center;
    }
    .seis{
        order: 6;
    }
    .uno{
        order: 7;
    }
    .dos{
        order: 8;
    }
    .uno img, .dos img, .tres img, .cuatro img, .cinco img, .seis img, .siete img, .ocho img{
    width: 80%;
    }   
}
@media (max-width: 480px){
    .contenido{
        width: 90%;
    }
    .tres img, .seis img{
        width: 60%;
    }
    .cinco img{
        top: 8px;
    }
    .siete{
        text-align: center;
    }
    .siete img{
        width: 100%;
    }
}